.list-item:hover {
    background-color: var(--gray-accent-color);
}

a.chrono-list-entry {
    color: var(--text-color);
    text-decoration: none;
}

span.seemore > a {
    text-decoration: underline;
    display: block;
    color: var(--link-color);
}

span.seemore > a:hover {
    background-color: var(--gray-accent-color);
}

span.seemore > a:before {
    display:inline-block;
    content: "[";
}

span.seemore > a:after {
    display:inline-block;
    content: "]";
}

p, hr {
    margin-bottom: 2ch;
}

main > ul > li:before {
    content: "- ";
}

main > ul {
    margin-bottom: 2ch;
}