.list-item:hover {
    background-color: var(--gray-accent-color);
}

a.chrono-list-entry {
    color: var(--text-color);
    text-decoration: none;
}

span.summary {
    display: flex;
    margin-left: 2ch;
    margin-bottom: 1ch;
    font-style: italic;
}
